/* 
    Document   : styles
    Created on : 22.02.2014, 10:35:13
    Author     : flibustier
    Description:
        Purpose of the stylesheet follows.
*/

#addFilmForm {
  margin: 1%;
  width: 345px!important;
  overflow: visible;
}

#infoFilm {
  /*margin: 1%;*/
  /*width: 345px!important;*/
  overflow: visible;
}

#infoFilmPicture {
  margin: 5px 0 10px;
  float: left;
  padding-right: 16px;
}

#infoFilmOverview {
  display: flex;  
  text-align: justify;
}

#fixBlock {
  width: 550px;
  padding-left: 201px;
}

.mark {
  color: red;
  display: inline;
}

.rating {
  margin-top: 7px;
}

#loader {
  background-image: url('../images/loader.gif');
  height: 24px;
  width: 24px;
  z-index: 9999;
  left: 50%;
  top: 50%;
  position: absolute;
  display: none;
  /*visibility: hidden;*/
}

.tableContainer {
  width: 50%;
  margin: 3% 0 0 30%;
}

.star_empty {
  width: 80px; 
  height: 16px;
  overflow: hidden;
  background-image: url('../images/star-gray.png');
  background-repeat: repeat-x;
}

.star_filled {
  width: 0px;
  height: 16px;
  background-image: url('../images/star-yellow.png');
  background-repeat: repeat-x;
}

#addFilm {
  float: right;
}

#search {
  margin-left: 5px;
}

#searchField {
  margin-left: 5px;
  width: 150px;
  position: absolute;
}

table td:last-child p {
  left: 35%;
  top: 7px;
  cursor: pointer;
}

.inline {
  display: inline;
}

#fixBlock button {
  margin-left: 47%;
}

#language {
  width: 200px;
}

#configStatus {
  color: limegreen;
  float: right;
}

#configWhere {
  float: right;
  font-size: small;
  color: limegreen;
}

#configFilmForm {
  overflow: visible;
}

/* Sort tables style */
table.tablesorter thead tr .header {
	background-image: url(../images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../images/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../images/desc.gif);
}